@import "syntax-variables";

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

// atom-text-editor .search-results .marker .region {
//   background-color: transparent;
//   border: 1px solid @syntax-result-marker-color;
// }
//
// atom-text-editor .search-results .marker.current-result .region {
//   border: 1px solid @syntax-result-marker-color-selected;
// }

.syntax--comment,
.syntax--punctuation.syntax--definition.syntax--comment {
  color: @brown;
}

.syntax--keyword {
  color: @bright-brown;
}

.syntax--storage.syntax--type.syntax--function {
  color: @bright-brown;
}

.syntax--constant {
  color: @blue;

  &.syntax--character.syntax--escape {
    color: inherit;
  }

  &.syntax--other.syntax--symbol {
    color: @cyan;

    .syntax--punctuation {
      color: inherit;
    }

    .syntax--constant.syntax--character.syntax--escape,
    .syntax--punctuation.syntax--section.syntax--embedded {
      color: darken(@cyan, 20%);
    }
  }
}

.syntax--variable {
  &.syntax--other.syntax--readwrite.syntax--instance,
  &.syntax--other.syntax--readwrite.syntax--class {
    color: @periwinkle;

    .syntax--punctuation {
      color: inherit;
    }
  }

  &.syntax--other.syntax--less {
    color: @cyan;
  }

  &.syntax--other.syntax--constant {
    color: @red;
  }
}

.syntax--invalid.syntax--illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.syntax--embedded {
  color: @syntax-text-color;
}

.syntax--string, .syntax--punctuation.syntax--definition.syntax--string {
  color: @bright-green;
}

.syntax--string {
  .syntax--constant.syntax--character.syntax--escape,
  .syntax--punctuation.syntax--section.syntax--embedded {
    color: @green;
  }

  &.syntax--regexp {
    color: @bright-purple;

    .syntax--punctuation.syntax--section.syntax--embedded {
      color: @purple;
    }
  }

  &.syntax--character.syntax--escape {
    color: @green;
  }

  &.syntax--other.syntax--link {
    color: @red;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @syntax-text-color;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @blue;
    }

    &.syntax--bold {
      color: @bright-orange;
      font-weight: bold;
    }

    &.syntax--italic {
      color: @purple;
      font-style: italic;
    }
  }

  // remove :not(.embedded) to diminish for ERB blocks
  &:not(.syntax--embedded) {
    &.syntax--separator,
    &.syntax--section,
    &.syntax--terminator.syntax--rule.syntax--css,
    &.syntax--terminator.syntax--rule.syntax--scss {
      color: @gray;
    }
  }
}

.syntax--support {
  &.syntax--class {
    color: @red;
  }

  // &.syntax--function  {
  //   color: @cyan;
  //
  //   &.any-method {
  //     color: @blue;
  //   }
  // }
}

.syntax--entity {
  &.syntax--name.syntax--function {
    color: @bright-orange;
  }

  &.syntax--name.syntax--type {
    color: @bright-gray;
  }

  &.syntax--other.syntax--inherited-class {
    color: @syntax-text-color;
  }

  // &.name.class, &.name.type.class {
  //   color: @bright-orange;
  // }

  // &.name.section {
  //   color: @blue;
  // }

  &.syntax--other.syntax--attribute-name {
    color: #AAA866;

    // &.id {
    //   color: @blue;
    // }
  }
}

.syntax--meta.syntax--tag,
.syntax--entity.syntax--tag.syntax--name,
.syntax--punctuation.syntax--definition.syntax--tag {
  color: @bright-orange;
}

.syntax--meta {
  &.syntax--class {
    color: @bright-orange;
  }

  &.syntax--link {
    color: @bright-orange;
  }

  &.syntax--require {
    color: @blue;
  }

  &.syntax--selector {
    color: @purple;
  }

  &.syntax--separator {
    background-color: @gray;
    color: @syntax-text-color;
  }

  &.syntax--block:not(.syntax--tag) .syntax--string {
    color: inherit;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    color: @cyan;
    font-weight: bold;
  }

  &.syntax--italic {
    color: @cyan;
    font-style: italic;
  }

  &.syntax--heading {
    color: @bright-gray;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @purple;
  }

  &.syntax--deleted {
    color: @red;
  }

  &.syntax--inserted {
    color: @green;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @blue;
  }

  &.syntax--list {
    color: @red;
  }

  &.syntax--quote {
    color: @bright-orange;
  }

  &.syntax--raw {
    color: @bright-green;
  }
}

.syntax--source.syntax--gfm {
  .syntax--markup {
    -webkit-font-smoothing: auto;
  }

  .syntax--link {
    color: @blue;
  }

  // &.underline.link {
  //   text-decoration: underline;
  //
  //   .syntax--punctuation { text-decoration: none; }
  // }
}

atom-text-editor[mini] .scroll-view {
  padding-left: 1px;
}
